<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Blackjack...">    

<body style="text-align: center; background-color: black; color: white;">
<div><h1>BLACKJACK</h1></div>
<p>~welcome~</p>
<div>
<a href="/TheGame"><image style="position: relative;" src="https://dl.dropboxusercontent.com/u/8948398/coollogo_com-192434462.gif"/>
<h1 style="position: absolute; top: 172px; left: 20px; width: 100%; font-weight: 800; color: black; font-size: 52px; letter-spacing: 35px;">BLACKJACK</h1></a>
</div>
</body>

</@layout.myLayout>