<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Blackjack...">    

<body style="text-align: center; background: radial-gradient(black, #222222); color: white;">
<div><h1 style="color: #bbbbbb">WELCOME</h1></div>
<p style="color: #555555">TO</p>
<div>
<image style="position: relative;" src="https://dl.dropboxusercontent.com/u/8948398/coollogo_com-192434462.gif"/>
<image style="position: absolute; top: 155px; left: 363px; width: 637px; font-weight: 800; color: black; font-size: 52px; letter-spacing: 35px;" src="https://dl.dropboxusercontent.com/u/8948398/blackjack.png"/>
<h1 style="position: absolute; top: 169px; left: 13px; width: 100%; font-weight: 800; color: black; font-size: 52px; letter-spacing: 33px;">BLACKJACK</h1>
<BR>
<BR>
<a href="/TheGame"><image style="position: relative; width: 200px;" src="https://dl.dropboxusercontent.com/u/8948398/Enter.png"/>
<BR>
<image style="position: absolute; position: absolute; top: 355px; left: 630px; width: 100px; font-weight: 800; color: black; font-size: 52px; letter-spacing: 33px;" src="https://dl.dropboxusercontent.com/u/8948398/enter-text.png"/></a>
</div>
</body>

</@layout.myLayout>