<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Blackjack...">    

<body style="text-align: center; background: radial-gradient(#550000, black, #220000, #220000); color: white;">
<div><h1 style="color: #bbbbbb">WELCOME</h1></div>
<p style="color: #555555">TO</p>
<div style="position: relative;">
<image style="position: relative;" src="https://dl.dropboxusercontent.com/u/8948398/coollogo_com-192434462.gif"/>
<image style="position: relative; top: -90px; left: 0px; width: 630px; height: 100px; font-weight: 800; color: black; font-size: 52px; letter-spacing: 35px;" src="https://dl.dropboxusercontent.com/u/8948398/blackjack.png"/>
<h1 style="position: relative; top: -175px; left: 15px; width: 100%; font-weight: 800; color: black; font-size: 52px; letter-spacing: 33px;">BLACKJACK</h1>
<BR>
<BR>
<a href="/TheGame"><image style="position: relative; top: -100px; width: 200px;" src="https://dl.dropboxusercontent.com/u/8948398/Enter.png"/>
<BR>
<image style="position: absolute; position: relative; top: -207px; left: 0%; width: 100px; font-weight: 800; color: black; font-size: 52px; letter-spacing: 33px;" src="https://dl.dropboxusercontent.com/u/8948398/enter-text.png"/></a>
</div>
</body>

</@layout.myLayout>