<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <title>Rules?</title>
</head>
<body style="font-family: 'Josefin Sans', sans-serif; color: white; font-size: 15px;">

    <li>You get two cards. One is face up.</li>
    <li>Flip the first card. Is it under 17? Take a risk and get a card.</li>
    <li>If you get two cards of the same number, split that.</li>
    <li>Now you have two chances to win!</li>
    <li>closest to under or at 21 wins the round...</li>
    <li>If one goes over, they bust! This means the other person wins.</li>
    <li>happy betting!</li>

</body>
</html>