<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Blackjack...">    

<body style="text-align: center; background-color: black; color: white;">
<div><h1>THE GAME PAGE</h1></div>
<p>for the actual blackjack game</p>
<div>
<a href="/Blackjack"><image style="position: relative;" src="https://dl.dropboxusercontent.com/u/8948398/coollogo_com-8726295.gif"/>
<h1 style="position: absolute; top: 214px; left: 10px; width: 100%; font-weight: 800; color: black; font-size: 52px; letter-spacing: 21px;">BLACKJACK</h1></a>
</div>
</body>

</@layout.myLayout>